.ellipse-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--title-typography);
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}